:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: flex;
    justify-content: center;
    grid-gap: 0.1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);    
    flex-flow: row wrap;
  }

  .grid-item {
    height: 50px;
    width: 50px;
    border: 1px solid #ddd;
    text-align: center;
}

.my-color-class {
    background-color: blue;
  }